body
{
    background: url(tes.jpg);
    font-family: Helvetica;
}
.banner
{
    width:400px;
    position: absolute;
    left: 700px;
    top:auto;
    right: auto;
    color: darkred;
    font-size: 20px;
}
.main
{
    position:absolute;
    top:300px;
    bottom: auto;
    left: 300px;
    right: auto;
}
.main1
{
    position:absolute;
    top:200px;
    bottom: auto;
    left: 300px;
    right: auto;
}
#tabela
{
    display:table;margin:0 auto;
}
.produkt
{
    width:250px;
    float: left;
    border:1px solid #fff;
    background-color: #eee;
}
.produkt .nazwa >h3
{
    background:#2a2a2a;
    padding: 10px;
    text-align: center;
    color:#fff;
    text-shadow: 0 0 3px #000;
}
.produkt .cena
{
    width: 125px;
    height: 100px;
    border-radius: 60px;
    background-color: #fff;
    text-align: center;
    line-height: 100px;
    border: 10px solid silver;
    box-shadow: 3px 3px 5px gray inset 0 0 1px black;
    font-size: 2em;
    margin: 0 auto;
}
.produkt .opis
{
    list-style: none;
    padding: 0;
    margin: 20px 0 20px;
    border-top: 1px dashed silver;
    border-bottom: 1px dashed silver;
    color:#000;
    font-size: 0.9em;
    text-align: center;
}
.produkt .opis li{padding: 5px;}
.produkt .opis li:nth-child(odd)
{
    background-color: silver;
}
.produkt .opis li:nth-child(even)
{
    background-color: #eee;
}
.produkt:hover 
{
    background-color: #111;
    box-shadow: 0 0 50px #000;
}
.produkt:hover .opis li:nth-child(odd)
{
    background: #000;
}
.produkt:hover .opis li:nth-child(even)
{
    background: #111;
}
.produkt:hover .opis { color: silver;}
.produkt:hover h3
{
    background-color: #eee;
    color: black;
    text-shadow: 0 0 3px silver;
}
.produkt , .produkt * 
{
    -moz-transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

#round {
    background-color: #ff0000;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid #ff0000;
    outline: none;
    transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  }
  
  #round:hover {
    background-color: #ff0000;
    cursor: pointer;
    border-color: #ff0000;
    transform: scale(1.2, 1.2);
  }
  
  #round:active {
    border-color: #15ff00;
    background-color: #15ff00;
  }

  #flyoutMenu {
    width: 100vw;
    height: 100vh;
    background: url(drewnobg.jpg) repeat-y;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(-100vw, 0, 0);
    transition: transform .3s cubic-bezier(0, .52, 0, 1);   
    z-index: 1000;
    font-size: 23px;
}	

#flyoutMenu h2 a {
    color: #ff0000;
    margin-left: 15px;
    text-decoration: none;
}

#flyoutMenu h2 a:hover {
    text-decoration: underline;
}
#flyoutMenu.show {
    transform: translate3d(0vw, 0, 0);
}
.one
{
    border: 1px solid silver;
    border-radius: 20px;
}
.two
{
    border: 1px solid silver;
    border-radius: 20px;
}
.foot
{
    clear: both;
    position: absolute;
    left:750px;
    top:890px;
    bottom: auto;
    text-align: center;
    font-size:2em;
}
.foot1
{
    clear: both;
    position: absolute;
    left:750px;
    top: 1790px;
    bottom: auto;
    text-align: center;
    font-size:2em;
}